#banner
	.banner_content
		%h1 NoteBuk
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Start writing, no matter what. The water does not flow until the faucet is turned on."
		%p.name - Louis L’Amour

%footer
	%p &copy; 2018. Derek Baah