<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
  <main role="main" class="inner cover">
    <h1 class="cover-heading">NoteBuk App</h1>
    <p class="lead">Your personal notebook. Very convenient and efficient!!!</p>
    <p class="lead">
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-lg btn-secondary" %>
      
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>&copy;2019. DeeWebs</p>
    </div>
  </footer>
</div>
